@import "style-post1-1.css";
@import "style-post1-2.css";
@import "style-post1-3.css";

body{
    display: grid;
    padding: 0%;
    margin: 30px;
}


/* style list item */
.nav{
    display: flex;
    list-style: none;
    margin: 30px;
}

/* style unordered list item */
.nav a{
    display: flex;
    color: black;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
}

/* rotate list item 3deg */
.nav a:hover{
    color: blueviolet;
    transform: rotate(3deg);
}

.nav li{
    margin-left: 25px;
}


/* add a style for author */
#author {
    padding: 15px;
    margin-top: 5px;
    background-color: rgb(97, 132, 104) 
}

.author-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 45px;
}

.about span{
    font-family:  monospace;
    font-size: 21px;
    font-weight: bold;
}

/* about me paragraph line-height */
.about p{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5rem;
}

.contact span{
    font-family:  'Times New Roman', Times, serif;
    font-size: 21px;
    font-weight: bold;
}

.contact a{
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
    display: block;
    color:rgb(84, 84, 85);
}

.contact a:hover {
    color: blueviolet;
    text-decoration: none;
}

.socials span{
    font-family:  'Times New Roman', Times, serif;
    font-size: 21px;
    font-weight: bold;
}

/* add font style */
.socials a{
    padding: 0px;
    font-size: 20px;
    text-align: center;
    color: rgb(84, 84, 85);
    display: block;
    text-decoration: none;
}

/* add a hover */
.socials a:hover {
    color: blueviolet;
    text-decoration: none;
}
